<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- iisnode handler -->
    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode"/>
    </handlers>
    <!-- URL rewrite - bütün requestləri app.js-ə yönləndir -->
    <rewrite>
      <rules>
        <!-- Static fayllar birbaşa verilsin -->
        <rule name="StaticFiles" stopProcessing="true">
          <match url="^public/(.*)$"/>
          <action type="Rewrite" url="public/{R:1}"/>
        </rule>
        <!-- Qalan hər şey Node.js-ə -->
        <rule name="NodeApp" stopProcessing="true">
          <match url=".*"/>
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
          </conditions>
          <action type="Rewrite" url="app.js"/>
        </rule>
      </rules>
    </rewrite>
    <!-- iisnode parametrləri -->
    <iisnode
      nodeProcessCommandLine="C:\Program Files\nodejs\node.exe"
      watchedFiles="*.js;node_modules\*;routes\*.js;controllers\*.js;models\*.js;views\*.ejs"
      loggingEnabled="true"
      logDirectory="iisnode_logs"
      debuggingEnabled="false"
    />
    <!-- Xəta səhifələri -->
    <httpErrors existingResponse="PassThrough"/>
    <!-- Static fayllar üçün -->
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json"/>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2"/>
    </staticContent>
  </system.webServer>
</configuration>